[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
cffi = ">=1.17.0"
cryptography = "==43.0.0"
django = "==5.0.7"
pycparser = "==2.22"
sqlparse = "==0.5.1"
python-dotenv = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
