<!-- ui/templates/index.html -->

{% extends 'ui/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>PyCrypt</title>
</head>
<body>
    {% block content %}
    <title>File Encryptor</title>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">PyCrypt</h2>
                    <p class="text-center">Enhance the security of your files through encryption. Begin by generating your encryption keys.</p>
                    <div class="mb-3">
                        <h5 class="text-center">Encrypt a File</h5>
                        <p class="text-center">To encrypt a file, upload the receiver's public key along with the file. The file can only be decrypted by the intended recipient using their private key.</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="text-center">Decrypt a File</h5>
                        <p class="text-center">To decrypt a received file, upload your private key that corresponds to the public key shared with the sender.</p>
                    </div>
                    <div class="alert alert-warning text-center" role="alert">
                        <strong>Important:</strong> It is the sole responsibility of the user to secure their encryption keys. Users' keys are not stored anywhere on the server.
                    </div>
                    <a href="{% url 'ui:encrypt' %}" class="btn btn-primary btn-block">Encrypt File</a>
                    <a href="{% url 'ui:decrypt' %}" class="btn btn-primary btn-block">Decrypt File</a>
                    <a href="{% url 'util:generate_keys' %}" class="btn btn-primary btn-block">Generate Keys</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>
</html>